*{
    box-sizing:border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #efeeef;
    
}

header{
    background-color: #364552;
    color: white;
    padding: 10px 10px;
}

header h1 {
    font-size: 35px;
    text-align: center;
}


.datos{
    width: 300px;
   max-width: 40%;
    margin:auto;
    margin-top:30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;

}

.tit{
    text-align: center;
    margin-top: 0;
    color:rgba(0, 0, 0, 0.7);
}

.input, .label, .datos, .sub{

    display: block;
    width: 100%;
    font-size: 1.2em;
    
}
.input{
    padding: 20px;
    background:rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;

}
.input:focus{
    outline: 1px solid rgba(24, 34, 77, 1);
    
}

.input:focus + .label{
    margin-top: -142px;
}

.label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color:rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.sub{
    background-color: rgba(199, 214, 214, 0.477);
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    border-radius: 5px;
    

}
.sub:hover{
    background-color: #364552; /* Green */
    color: white;
}

.fij{
    margin-top: -142px;
}
   

